.card_view img {
    object-fit: cover;
}

.card_view {
    position: relative;
}

.card_view .mask {
    margin: 0 6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
}

.controls_card {
    padding: 0 18px 10px;
    position: absolute!important;
    bottom: 0;
    right: 0;
}

.controls_card1 {
    padding: 10px 18px 0;
    margin: 0 auto;
    position: absolute!important;
    top: 0;
    right: 0;
}

